@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #6BD163;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.3em;
    margin: auto;
    margin-bottom: 100px;
    padding: 20px;
    text-align: justify;
    width: 1000px;
}

p {
    margin: 15px;

}

h1 {
    background-color: #8C52E5;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    color: white;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    background-color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    color: #8C52E5;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
}

a::selection,
p::selection,
li::selection {
    background: #8C52E5;
    color: white;
}

h1::selection {
    background: black;
    color: white;
}

h2::selection {
    background: black;
    color: white;
}

li {
    margin: 10px;
    margin-left: 50px;
}

li:hover {
    color: #8C52E5;
    transition: .5s;
}

.interline {
    margin-left: 20px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #8C52E5;
    transition: .5s;
}

@media (max-width: 1005px) {
    body {
        font-size: 16px;
        line-height: 1.2em;
        padding: 10px;
        width: 95vw;
    }

    h1 {
        margin-bottom: 30px;
        margin-top: 20px;
        padding: 30px;
    }

    h2 {
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 30px;

    }

    h3 {
        font-size: 1.2em;
        margin-top: 50px;
        margin-bottom: 30px;
    }
}

@media (max-width: 800px) {
    body {
        font-size: 14px;
        line-height: 1.2em;
        padding: 10px;
        width: 95vw;
    }

    h1 {
        font-size: 1.3em;
        margin-bottom: 20px;
        margin-top: 15px;
        padding: 20px;
    }

    h2 {
        font-size: 1.3em;
        margin-top: 35px;
        margin-bottom: 35px;
        padding: 20px;
    }

    h3 {
        font-size: 1.3em;
        margin-top: 35px;
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    body {
        font-size: 12px;
        line-height: 1.2em;
        padding: 10px;
        width: 100vw;
    }

    h1 {
        font-size: 1em;
        margin-bottom: 15px;
        margin-top: 10px;
        padding: 15px;
    }

    h2 {
        font-size: 1em;
        margin-top: 25px;
        margin-bottom: 25px;
        padding: 15px;
    }

    h3 {
        font-size: 1em;
        margin-top: 25px;
        margin-bottom: 15px;
        padding: 10px;
    }

    li {
        margin: 5px;
        margin-left: 25px;
    }
}