* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #8C52E5;
    color: white;
}

p {
    margin: 10px;
    line-height: 1.5em;
}

.sessao1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.sessao2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-top: 300px;
    text-align: center;
}

.sessao2txt {
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 10px 10px 10px black;
    margin-bottom: 80px;
}


form {
    display: grid;
    justify-content: center;
}

input {
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    margin: 5px 0px;
    font-weight: bold;
    width: 250px;
}

input:hover {
    background-color: black;
    color: white;
    transition: .5s;
}

.botao {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    font-weight: bold;
    width: 200px;
    margin: 5px auto;
}

.botao:hover {
    background-color: white;
    color: black;
    transition: .5s;
}

.footerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    margin-top: 80px;
    bottom: 0;
}

#rdev {
    height: 40px;
    margin-left: 10px;
}

@media (max-width: 1800px) {
    .sessao1 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .sessao1 img {
        width: 60%;
    }

    .sessao2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        padding-top: 250px;
        text-align: center;
        margin-bottom: 100px;
    }

    .sessao2txt {
        font-size: 50px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-shadow: 10px 10px 10px black;
        margin-bottom: 80px;
    }
}

@media (max-width: 1300px) {
    .sessao2 {
        padding-top: 150px;
        margin-bottom: 100px;
    }
}

@media (max-width: 600px) {
    .sessao1 img {
        width: 80%;
    }

    .sessao2 {
        height: 80vh;
        padding-top: 100px;
        margin-bottom: 50px;
    }

    .sessao2txt {
        font-size: 25px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-shadow: 5px 5px 5px black;
        margin-bottom: 30px;
        text-align: center;
    }

    .sessao2txt {
        font-size: 25px;
        margin-bottom: 80px;
    }

    input {
        font-size: 12px;
    }

    .footerContainer {
        height: 40px;
        font-size: 12px;
    }

    #rdev {
        height: 20px;
        margin-left: 10px;
    }

}