@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #6BD163;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    line-height: 1.3em;
    margin: auto;
    margin-bottom: 100px;
    padding: 20px;
    text-align: justify;
    width: 1000px;
}

p {
    margin: 15px;

}

h1 {
    background-color: #8C52E5;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    color: white;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    background-color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    color: #8C52E5;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
}

li {
    margin: 10px;
    margin-left: 50px;
}

li:hover {
    color: #8C52E5;
    transition: .5s;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #8C52E5;
    transition: .5s;
}